 {
	}
	table, th, td, tr {
       border: 1px solid;
	}
	table {
       border-collapse: collapse;
	}
	th, td {
       padding: 2px;
       text-align: center;
	}
	nav a {
       color: #6fddd2;
       text-decoration: none;
	}
	nav {
       height: 35px;
       margin-top: -8px;
       margin-left: -8px;
       margin-right: -8px;
       background-color: #413A5E;
       color: white;
	}
	nav ol {
       padding: 0px;
       margin: 0px 0px 0px 8px;
	}
	nav li {
       height: 20px;
       margin-top: 5px;
       margin-left: 5px;
       margin-right: 5px;
       display: inline-block;
       position: relative;
	}
	nav li#navbarPagesDropdown {
       right: 5px;
       width: 75px;
       height: 50px;
       padding-left: 5px;
       border-radius: 5px 5px 5px 0px;
	}
	nav li#navbarPagesDropdown:hover {
       background-color: blue;
	}
	a.pagesLink:hover {
       background-color: blue;
	}
	nav li ul {
       display: none;
       position: absolute;
       width: 200px;
       top: 25px;
       left: -10px;
       border-radius: 0px 25px 25px 25px;
	}
	nav li:hover > ul {
       margin-top: 5px;
       display: block;
	}
	nav ul {
       list-style-type: none;
       margin: 10px;
       padding: 0px;
       background-color: blue;
       border: 1px solid blue;
	}
	nav li ul li {
       display: block;
       margin: 5px;
       height: 17.5px;
       left: 2.5px;
	}
	.navbarItem {
       font-size: 20px;
       height: 30px;
       width: 125px;
       right: 0;
	}
	.navbarHomeItem {
       font-size: 20px;
       height: 30px;
       width: 75px;
       right: 0;
	}
	.navbarBigItem {
       font-size: 20px;
       height: 30px;
       width: 150px;
       right: 0;
	}
	.navbarItem:hover, .navbarBigItem:hover, .navbarHomeItem:hover {
       background-color: blue;
	}
	nav ol li#navbarPagesDropdown.navbarItem ul li a.pagesLink:hover {
       color: green;
       background-color: yellow;
	}
	