/* general styling */
/* makes heading font size large. adds line under heading */
h1 {
  font-size: 35px;
  color: #324c73; 
  border-bottom: 1px solid black;
  text-align: center;

}

/* adds background color to my entire website */
body {
  background-color: #b8c8e0;
}

p {
  font-size: 20px;
  color: #324c73;
  text-align: center;
}

/* adds border + sizing to pictures */
img {
  border: 1px solid ##8d57bd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}


/* fancy navbar styling */}
/* styles navigation bar all the way to the left. no bullet points */
#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  width: 60px;
}

nav {
  background-color: #6582ad;
  text-align: center;
}

/* puts all links in the navigation bar in the same line */
nav li{
  display: inline-block;
  position: relative;
  padding: 10px;
}

nav li:hover > ul{
  display: block;
}

nav a:link{
  color: white;
  text-decoration: none;
}
nav a:visited{
  color: #d1e4ff;
  text-decoration: none;
}

